<div class="register">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-header">
            <h2 (click)="toggle()">Registrera ny användare</h2>
        </div>
        <div class="form-group" [ngClass]="{'closed': toggleClass}">
            <label>Användarnamn:</label>
            <input type="text" id="username" value="username" formControlName="username" required>
            <label>Lösenord:</label>
            <input type="password" id="password" value="password" formControlName="password" required>
            <button type="submit" [disabled]="!registerForm.valid">Registrera</button>
        </div>
    </form>
</div>
