<form [formGroup]="editorForm">
    <div class="form-group">
        <!-- Editor -->
        <label>Titel:</label>
        <input type="text" id="title" value={{singleTitle}} formControlName="title" (input)="sendTitle()" required>
        <label>Innehåll:</label>
        <quill-editor *ngIf="editor == 'text'" [styles]="{'min-height': '120px', 'background-color': 'white'}" [(ngModel)]="singleContent"
            [modules]="config" formControlName="editor" (keyup)="sendContent()" (click)="removeYellow()" class="editor" id="textEditor"></quill-editor>
        <!-- Kommentera -->
        <div class="comment-form" *ngIf="editor == 'text'">
        <h3 [ngClass]="{'hide': !singleId}">Kommentera</h3>
        <p *ngIf="!commentText && singleId">Markera text för att kommentera</p>
        <p *ngIf="commentText">{{ commentText }}</p>
        <input type="text" *ngIf="commentText" formControlName="comment" id="comment">
        <button *ngIf="singleId" id="newComment" (click)="comment()">Ny kommentar</button>
        <button *ngIf="commentText" id="saveComment" (click)="saveComment()">Spara kommentar</button>
    </div></div>
</form>
<!-- Kommentarer -->
<div *ngIf="singleComments" class="comment-list">
    <h3 *ngIf="singleComments && singleId">Kommentarer</h3>
    <div *ngFor="let item of singleComments" class="comment" (click)="highlight(item.text)">
        <p class="text">{{ item.text }}</p>
        <p class="content">{{ item.comment }}</p>
        <p class="user">{{ item.user }}</p>
    </div>
</div>
<!-- Code editor -->
<div id="code" *ngIf="editor == 'code'" class="editor">
    <ngx-codemirror (keyup)="sendContent()" [(ngModel)]="singleContent" [options]="{
    lineNumbers: true,
    theme: 'material',
    mode: 'javascript'
  }"></ngx-codemirror>
  <button (click)="exec()" class="exec">Exekvera koden</button>
</div>
<div class="permissions">
    <!-- Behörigheter -->
    <h2>Redigeringsbehörighet</h2>
    <div *ngFor="let item of allUsersGQ">
        <input type="checkbox" id="{{item}}" (change)="check(item)" [checked]="isPermitted(item)"
            [disabled]="active == item">
        <label for={{item}}> {{item}}</label>
    </div>
</div>