.form-group {
    padding: 2em;
}

.comment-list {
    padding: 0 2em;
}

.comment-form {
    padding: 0;
}

.permissions {
    padding: 0 2em 2em;
}

#code {
    padding: 0 2em 2em;
}

h2, h3 {
    font-family: sans-serif;
    padding: 1em 0;
}

label, p {
    font-family: sans-serif;
}

input[type=text] {
    width: 100%;
    min-height: 2em;
    border: 1px solid rgb(214, 212, 212);
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.comment {
    background-color: beige;
    font-family: sans-serif;
    margin-bottom: 5px;
    padding: 10px;
}

.comment .text {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;
}

.comment .content {
    font-size: 14px;
    margin-bottom: 5px;
}

.comment .user {
    font-size: 10px;
}

button {
    height: 2em;
    margin-right: 1em;
    padding: 1em 1em;
    padding-bottom: 1em;
    line-height: 0px;
}