.form-group {
    padding: 2em;
}

label {
    font-family: sans-serif;
}

input[type=text] {
    width: 100%;
    min-height: 2em;
    border: 1px solid rgb(214, 212, 212);
    margin-bottom: 1em;
}