<div *ngIf="token; then loggedIn else login"></div>
<ng-template #loggedIn>

<app-header (buttonClick)="printContent($event)" (buttonClear)="clearForm($event)"></app-header>
<ng-content select="tools"></ng-content>
<app-warning [msg]="msg"></app-warning>
<app-editor [singleContent]="singleContent" [singleTitle]="singleTitle" [filePermissions]="filePermissions" [singleId]="singleId" [active]="active" [token]="token" (saveEvent)="receiveContent($event)" (saveTitle)="receiveTitle($event)" (savePermissions)="receivePermissions($event)"></app-editor>
<app-output [editorContent]="editorContent" [active]="active" [token]="token" [update]="update" (linkClick)="openOne($event)"></app-output>

</ng-template>
<ng-template #login>
    <div class="login-page">
        <div class="forms">
            <app-login (tokenEvent)="receiveToken($event)"></app-login>
            <app-register></app-register>
        </div>
    </div>
</ng-template>