<div *ngIf="token; then loggedIn else login"></div>
<ng-template #loggedIn>

<app-header (buttonClick)="printContent($event)" (buttonClear)="clearForm($event)" (printClick)="toPrinter($event)" [editor]="editor"></app-header>
<ng-content select="tools"></ng-content>
<button *ngIf="!singleId"(click)=changeEditor()>{{ button }}</button>
<app-warning [msg]="msg"></app-warning>
<app-editor [singleContent]="singleContent" [singleTitle]="singleTitle" [filePermissions]="filePermissions" [singleComments]="singleComments" [singleId]="singleId" [active]="active" [editor]="editor" [token]="token" (saveEvent)="receiveContent($event)" (saveTitle)="receiveTitle($event)" (savePermissions)="receivePermissions($event)" (commentEvent)="receiveComment($event)"></app-editor>
<app-email [singleId]="singleId" [active]="active" [token]="token" [singleTitle]="singleTitle"></app-email>
<app-output [editor]="editor" [editorContent]="editorContent" [active]="active" [token]="token" [update]="update" (linkClick)="openOne($event)"></app-output>

</ng-template>
<ng-template #login>
    <app-warning [msg]="msg"></app-warning>
    <div class="login-page">
        <div class="forms">
            <app-login (tokenEvent)="receiveToken($event)" (msgEvent)="loginMsg($event)"></app-login>
            <app-register></app-register>
        </div>
    </div>
</ng-template>