/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.bubble.css';

@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(241, 227, 188);
    height: 100%;
    width: 100%;
}